  - name: Show source and target nodes
    debug:
      msg: "Source node {{ vm_config['source_node'] }}, target node {{ vm_config['target_node'] }}"

  - name: Discover all existing virtual machines on node
    community.general.proxmox_vm_info:
      #api_host: "{{ proxmox_env_info.api_host | default(omit) }}"
      api_host: "{{ vm_config['target_node'] | default(omit) }}"
      api_user: "{{ proxmox_env_info.api_user | default(omit) }}"
      api_token_id: "{{ proxmox_env_info.api_token_id | default(omit) }}"
      api_token_secret: "{{ proxmox_env_info.api_token_secret | default(omit) }}"
      #node: "{{ proxmox_env_info.node }}"
      node: "{{ vm_config['target_node'] }}"
    register: proxmox_discovered_vm

  - name: Discover / Collect Proxmox VMs
    set_fact:
      collected_proxmox_vm: "{{ collected_proxmox_vm | combine({item.name: item.vmid}) }}"
    loop: "{{ proxmox_discovered_vm.proxmox_vms }}"
    when: not item.template and item.type == 'qemu'

