- name: "Proxmox: migrate VM/LXC to named cluster node"
  connection: local
  hosts: all
  gather_facts: False

  tasks:
  - name: Check VM node pinned state before migration
    meta: end_play
    when: vm_config['source_node'] == vm_config['target_node']

  - name: Migrate specified VM
    community.proxmox.proxmox_kvm:
      api_user: "{{ proxmox_env_info.api_user }}"
      api_token_id: "{{ proxmox_env_info.api_token_id }}"
      api_token_secret: "{{ proxmox_env_info.api_token_secret }}"
      api_host: "{{ vm_config['source_node'] }}"
      name: "{{ vm_config['name'] }}"
      vmid: "{{ vm_config['vmid'] }}"
      node: "{{ vm_config['target_node'] }}"
      migrate: true
      state: present
      timeout: 600 # 10 minutes, should be configurable
    register: migrate_vm_job
    async: 600
    poll: 0

  - name: Wait for VM migrate process to finish
    async_status:
      jid: "{{ migrate_vm_job.ansible_job_id }}"
    register: _sjobs_alias_vc_0
    until: _sjobs_alias_vc_0.finished
    retries: 1000
    delay: 2

